<%- include("../partials/header") %>

<div class="pet-post-form">
    <form action="/pets/<%=post._id %>?_method=PUT" method="POST">
        <h1>Edit a post</h1>
        <hr>
        <input type="text" name="title" placeholder="Title" value="<%= post.title %>" required>
        <input type="text" name="image" placeholder="Enter picture URL" value="<%= post.image %>" required>
        <textarea rows="5" type="text" name="description" placeholder="Add a description" value="<%= post.description %>" required></textarea>
        <button>Update</button>
    </form>
</div>



<%- include("../partials/footer") %>