<%- include("../partials/header") %>

<div class="pet-homepage">
    <h1>Home</h1>

    <% posts.forEach(pet => { %>
        <div class="pet-post">
            <p><%= pet.title %></p>
            <a href="/pets/<%= pet._id %>">
                <img src="<%=pet.image %>">
            </a>
        </div>
    <% })%>
</div>


<%- include("../partials/footer") %>