<%- include("../partials/header") %>

<%- include("../partials/flash") %>
<div class="pet-homepage">
    <h2>Home</h2>
    <% if(currentUser) { %>
    <div class="newPost">
        <div>
            <p><%= currentUser.username %></p>
        </div>
        <a href="/pets/new">
            <input type="text" placeholder="Create Post">
        </a>
    </div>
    <% } %>

    <% posts.reverse().forEach(pet => { %>
        <div class="pet-post">
            <p class="username">Posted By: <%= pet.user.username %></p>
            <p><%= pet.title %></p>
            <a href="/pets/<%= pet._id %>">
                <img src="<%=pet.image %>">
            </a>
        </div>
    <% })%>
</div>

<%- include("../partials/footer") %>