<%- include("../partials/header") %>

<div class="show-container">
    <div class="pet-post-show">
        <p class="username">Posted By: <%=post.user.username %> · <%=moment(post.createdAt).fromNow() %></p>
        <h1><%= post.title %></h1>
        <p><%= post.description %></p>
        <img src="<%=post.image %>">
    
        <% if(currentUser.username === post.user.username) { %>
        <div class="alter-post">
            <a href="/pets/<%=post._id %>/edit"><i class="fas fa-pen"></i> Edit</a>
            <form action="/pets/<%=post._id %>?_method=DELETE" method="POST">
                <button><i class="fas fa-trash-alt"></i> Delete</button>
            </form>
        </div>
        <% } %>
    </div>
</div>



<%- include("../partials/footer") %>