<%- include("../partials/header") %>

<div class="show-container">
    <div class="pet-post-show">
        <p class="username">Posted By: <%=post.user.username %> · <%=moment(post.createdAt).fromNow() %></p>
        <h1><%= post.title %></h1>
        <p><%= post.description %></p>
        <img src="<%=post.image %>">
    
        <% if(currentUser.username === post.user.username) { %>
        <div class="alter-post">
            <a href="/pets/<%=post._id %>/edit"><i class="fas fa-pen"></i> Edit</a>
            <button type="button" data-bs-toggle="modal" data-bs-target="#deleteModal">
                <i class="fas fa-trash-alt"></i> Delete
            </button>
        </div>
        <% } %>
    </div>

    <div class="pet-post-comments-form">
        <h1>Comment as <span><%= currentUser.username %></span></h1>
        <form action="/pets/<%=post._id%>/comments" method="POST">
            <textarea name="text" placeholder="What are your thoughts?" rows="4" maxlength="100" required></textarea>
            <button>Comment</button>
        </form>
    </div>

    <div class="pet-post-comments">
        <% post.comments.forEach(comment => { %>
            <div class="comment">
                <p><%= comment.user.username %> · <%=moment(comment.createdAt).fromNow() %></p>
                <p><%= comment.text %></p>
            </div>
        <% }) %>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete your post? You can't undo this.</p>
            </div>
            <div class="modal-footer">
            <button id="modal-btn-close" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <form action="/pets/<%=post._id %>?_method=DELETE" method="POST">
                <button>Delete Post</button>
            </form>
            </div>
        </div>
    </div>
</div>


<%- include("../partials/footer") %>