<%- include("../partials/header") %>

<main class="user-profile">
    <section class="user-info">
        <div class="user-info-names">
            <p class="username"><%= user.username %></p>
            <p><i class="far fa-user"></i> <%= user.ownerName %></p>
            <p><i class="fas fa-paw"></i> <%= user.petName %></p>
        </div>
        <div class="user-info-activity">
            <p><i class="fas fa-photo-video"></i> Posts: <%= user.posts.length %></p>
            <p><i class="far fa-calendar-alt"></i> Joined: <%= moment(user.userCreated).format("MMMM YYYY") %></p>
        </div>
        <p class="bio"><%= user.bio %></p>
        <% if(currentUser.username === user.username) { %>
            <div class="user-edit">
                <a href="/user/<%= user._id %>/edit" class="user-edit-btn"><i class="fas fa-pen"></i> Edit Profile</a>
            </div>
        <% } %>
        
        <hr>
    </section>

    <section class="users-posts">
        <h1><i class="fas fa-photo-video"></i> <%= user.ownerName %>'s Posts</h1>
        <% user.posts.reverse().forEach(post => { %>
            <div>
                <p class="postedBy">
                    Posted: <%=moment(post.createdAt).fromNow() %>
                </p>
                <p><%= post.title %></p>
                <a href="/pets/<%= post._id %>">
                    <img src="<%=post.image %>">
                </a>
            </div>
        <% }) %>
    </section>
</main>